body {
  display: block !important;
  background-color: #000000;
}
.App {
  text-align: center;
  padding: 0 3vw 3vw;
  background-color: #22031f;
  background-image: url("../assets/bg3.png");
  /* background-image: url("https://cdn.discordapp.com/attachments/727389170309398599/1175842593767170080/magicpattern-mesh-gradient-1699071530719_1.png?ex=656cb3c0&is=655a3ec0&hm=cb913eecb890aaae97646a8540192eec8a643930206a7b01a4737a7345e11364&"); */
  background-size: cover;
  /* background-position: 0px 40px; */
  background-attachment: fixed;
}

* {
  color: seashell;
}

h1 {
  font-size: 10rem !important;
  text-align: center;
}

h3 {
  font-size: 3rem !important;
  font-weight: 800 !important;
  line-height: 8rem;
}

h4 {
  font-size: 2rem !important;
  font-weight: 400 !important;
  line-height: 6rem;
}

p {
  font-size: 14px;
}

nav a {
  color: white;
  cursor: pointer;
}

.ui.right.floated.menu {
  background-color: #00000060;
  margin-top: 1em;
}

.scrollable-table {
  max-height: 400px !important; /* Adjust the max height as needed */
  overflow-y: auto !important;
}

.ui.table {
  background-color: #00000000;
  backdrop-filter: blur(8px);
}

.css-1sra7t5-MuiTypography-root,
.css-5lbw0b-MuiTypography-root,
.css-2ulfj5-MuiTypography-root,
.css-ahj2mt-MuiTypography-root li {
  color: white !important;
  font-weight: 800 !important;
}

.ui.table thead th {
  background-color: #ffffffd0;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  width: 11.3rem !important;
}

.pagination .active {
  background-color: #ffffff90 !important;
  color: black !important;
}

.stick {
  text-align: center;
  position: sticky;
  top: 0px;
  margin: 0px;
  color: white;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
  z-index: 9999;
}
.stick > h1 {
  margin: 0;
}
.About {
  max-width: 60vw;
  margin: auto;
}
.About > h2 {
  margin: 0;
}
.aboutQuote {
  padding: 0 2em;
  border-radius: 15px;
}
