body {
  display: block !important;
}
.App {
  text-align: center;
  padding: 0 3vw 3vw;
  background-color: #22031f;
  background-image: url("https://cdn.discordapp.com/attachments/727389170309398599/1175842593767170080/magicpattern-mesh-gradient-1699071530719_1.png?ex=656cb3c0&is=655a3ec0&hm=cb913eecb890aaae97646a8540192eec8a643930206a7b01a4737a7345e11364&");
  background-size: cover;
  background-position: 0px -100px;
  background-attachment: fixed;
}

* {
  color: seashell;
}

.stick {
  text-align: center;
  position: sticky;
  top: 0px;
  margin: 0px;
  background-color: #1b1c1d;
  color: white;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
  z-index: 9999;
}
.stick > h1 {
  margin: 0;
}
.About {
  width: 86vw;
  margin-left: 7vw;
}
.About > h2 {
  margin: 0;
}
.aboutQuote {
  padding: 0 2em;
  border: 3px solid gray;
  border-radius: 15px;
}
